{% extends "FEFavorisBundle::layout.html.twig" %}

{% block favoris_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th> URL </th>
                <th> Nom </th>
                <th> Info </th>
                <th> Modifier </th>
                <th> Supprimer </th>
            </tr>
        </thead>
    {% for favoris in listeFavoris %}
        <tbody>
            <tr class="{{ (favoris.statifiable == false)? 'warning':'' }} test">
                <td><img class="media-object" src="http://www.google.com/s2/favicons?domain={{ favoris.url }}" alt="Favicon du site {{ favoris.url }}"></td>
                <td> <div class="limit"><a href="{{ favoris.url }}" target="_blank">{{ favoris.url }}</a></div></td>
                <td> <div class="limit">{{ favoris.nom }}</div> </td>
                <td>
                    {% include "FEFavorisBundle:UserFavoris:info_content.html.twig" %}
                </td>
                <td>
                    {% include "FEFavorisBundle:UserFavoris:modifie_content.html.twig" %}
                </td>
                <td>
                    {% include "FEFavorisBundle:UserFavoris:supprime_content.html.twig" %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

    {% include "FEFavorisBundle:UserFavoris:ajout_content.html.twig" %}

{% endblock favoris_content %}